@import url(https://fonts.googleapis.com/css?family=Raleway);

.welcome{
  color: white;
  width: 100%;
  height: 200px;
  background-color:#282e34;
  padding:0px;
  margin :0px;
  text-align: center;
  opacity:0.95;
  position: sticky;
}
.welcome a{
  top:30%;
  font-size:3em;
  text-decoration: none;
  color: white;
  position: relative;
  height: 100%;
}
.presentation-project, .presentation-subject{
  width: 100%;
  color: #c0c0c0;
  background-color: #282e34;
  font-size: 2em;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
}
.blank {
  height: 200px;
}
.chapter{
  width: 100%;
  margin:0px;
  font-size:2em;
  color: #FFFFFF;
}
.chapter p{
  padding:20px;
  width: 30%;
  opacity:0.8;
}
.chapter a{

  color: #FFFFFF;
  display: flex;
  text-decoration: none;
  background-color: #282e34;
  opacity: 0.8;
  margin:20px;
  margin-left: -10px;
  padding: 20px;
  width: 30%;
}
.chapter a:hover{
  opacity: 1;
  margin-left: 0;
  color: #EF3B3A;
  border-left: 5px solid #EF3B3A;
  transition: linear all 0.1s;
}
.login-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, .form textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #363636;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #4F4F4F;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4F4F4F;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  font-family: "Raleway", sans-serif;
  display:block;
  margin: 0px;
  padding: 0px;
  z-index:1;
}
.bgimg1{
  background-image: url("https://cdn.pixabay.com/photo/2017/01/17/21/44/background-1988180_960_720.jpg");
  min-height: 600px;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg2{
  background-image: url("https://cdn.pixabay.com/photo/2017/08/04/10/36/background-2579719_960_720.jpg");
  min-height: 600px;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg3{
  background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_960_720.jpg");
  min-height: 650px;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  background:#282e34;
  color: #FFFFFF;
	text-align:center;
  width:100%;
  margin: 0px;
  padding: 0px;
  line-height: 200%;
  margin-top: -40px;
  margin-bottom: -40px;
}
