@import url(https://fonts.googleapis.com/css?family=Raleway);

.welcome{
  color: white;
  width: 100%;
  height: 200px;
  background-color:#282e34;
  padding:0px;
  margin :0px;
  text-align: center;
  opacity:0.95;
  position: sticky;
}
.welcome a{
  top:30%;
  font-size:3em;
  text-decoration: none;
  color: white;
  position: relative;
  height: 100%;
}
.presentation-project, .presentation-subject{
  width: 100%;
  color: #c0c0c0;
  background-color: #282e34;
  font-size: 2em;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
}
.chapter{
  width: 100%;
  margin:0px;
  font-size:2em;
  color: #FFFFFF;
}
.chapter p{
  padding:20px;
  width: 30%;
  opacity:0.8;
}
.chapter a{

  color: #FFFFFF;
  display: flex;
  text-decoration: none;
  background-color: #282e34;
  opacity: 0.8;
  margin:20px;
  margin-left: -10px;
  padding: 20px;
  width: 30%;
}
.chapter a:hover{
  opacity: 1;
  margin-left: 0;
  color: #EF3B3A;
  border-left: 5px solid #EF3B3A;
  transition: linear all 0.1s;
}
.add-form,.login-form,.delete-form{
  height: 650px;
}
.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, .form textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  font-family: "Raleway", sans-serif;
  display:block;
  margin: 0px;
  padding: 0px;
  z-index:1;
  height: 100%;
}
.bgimg1{
  background-image: url("/img/background-1988180_960_720.jpg");
  min-height: 650px;
  max-height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg2{
  background-image: url("/img/background-2579719_960_720.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg3{
  background-image: url("/img/web-1012467_960_720.jpg");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
  font-family: "Raleway", sans-serif;
  position: fixed;
  font-size: 1.5em;
  background:#282e34;
  color: #FFFFFF;
  text-align:center;
  width:100%;
  margin: 0px;
  padding: 0px;
  line-height: 20%;
  bottom: 0px;
  z-index: 1;
}
